*{
    box-sizing: border-box;
    margin: 0;
}

.editHotel__container {
    display: flex;
    flex-direction: row;
}

.form__container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.form__container-title {
    margin-left: 20px;
}

form {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 120px;
    row-gap: 5px;
    box-shadow: 5px 5px 15px lightgray;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
}

.form-control>input {
    height: 40px;
    width: 500px;
}

label {
    margin-bottom: 10px;
}

.form-control-room {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
    grid-column: 1/-1
}

.form-control-room>textarea {
    margin-bottom: 20px;
}

select {
    width: 80px;
    height: 30px;
}

.add-button {
    width: 100px;
    height: 40px;
    margin-bottom: 40px;
    background-color: #018180;
    border: none;
    border-radius: 3px;
    color: white;
}

.error {
    color: red;
}

.input-label {
    display: flex;
    justify-content: space-between;
}


