* {
    box-sizing: border-box;
    margin: 0;
}

li {
    list-style: none;
}

.nav>h3 { 
    margin: 10px 0px 10px 40px;
}

.transactions__container {
    display: flex;
}

.transactionsInfo {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.transactionsInfo__board {
    margin: 20px;
    box-shadow: 5px 5px 15px lightgray;
    padding: 30px 20px 20px 20px;
}

.transactionsInfo__board-table__status {
    padding: 5px;
    background-color: #F5B9AC;
    color: #0E820A;
    border-radius: 5px;
    text-transform: capitalize;
}



table { 
    border: 1px solid lightgray;
    margin-top: 20px;
    text-align: left;
    border-collapse: collapse;
}

tbody>tr, thead>tr {
    border: 1px solid lightgray
}

td, th {
    padding: 15px 15px 15px 0px;
}

th>input {
    margin-left: 4px;
}

td {
    padding-left: 5px;
}

th>span {
    border-left: 1px solid lightgray;
    margin-right: 5px;
}

.paging__button {
    background: none;
    color: black;
    border: none;
    cursor: pointer;
}
