* {
    box-sizing: border-box;
    margin: 0;
}

li {
    list-style: none;
}

.info {
    margin: 20px auto;
}

.nav>h3 { 
    margin: 10px 0px 10px 40px;
}

.room__container {
    display: flex;
}
.room-sidebar {
    flex: 1;
}

.roomInfo {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    margin: 30px;
}

.roomInfo__board {
    margin: 20px auto;
    max-width: 1500px;
    box-shadow: 5px 5px 15px lightgray;
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roomInfo__board-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.roomInfo__board-title>button {
    background: none;
    border-radius: 3px;
    border: 1px solid green;
    color: green;
    padding: 7px;
    cursor: pointer;
}

table { 
    border: 1px solid lightgray;
    margin-top: 20px;
    text-align: left;
    border-collapse: collapse;
}

tbody>tr, thead>tr {
    border: 1px solid lightgray
}

th>input {
    margin-left: 4px;
}

td {
    padding-left: 5px;
}

th>span {
    border-left: 1px solid lightgray;
    margin-right: 5px;
}

.delete-button {
    background: none;
    border-radius: 3px;
    border: 1px solid red;
    border-style: dashed;
    color: red;
    margin-right: 30px;
    cursor: pointer;
}




